html {
    font-family: sans-serif;
}


h1 {
    margin: 0;
    font-size: 20vmin;
    letter-spacing: -0.2rem;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0.3;
}

.control {
    margin: 10vw auto;
    width: 75%;
    background-color: rgba(220, 220, 220, 0.7);
    padding: 4vw;
    border-radius: 8px;
    opacity: 1;
}

/* .control:hover, control:focus {
    opacity: 1;
} */

.control div {
    padding-bottom: 3rem;
}

.control label, .control p, .control input {
    margin: 0;
	font-size: 3vw;
}